[2019-10-29 23:48] jonathanolson opened #1 "How to handle off-scale density values on the Density intro screen"
It's possible to set a custom material so that the density goes past 10 kg/L.

[2019-10-30 16:04] DianaTavares commented on #1
The custom mass range is restringed to 0.1 to 10 kg.
![Screen Shot 2019-10-30 at 10 01 58 AM](https://user-images.githubusercontent.com/26031501/67875855-93ce8a80-fafc-11e9-9d7a-3f5c87495e3d.png)

[2019-10-31 15:40] jonathanolson commented on #1
Understood, thanks!

[2019-11-11 13:16] samreid opened #2 "undefined when reading from empty masses ObservableArray."
DensityBuoyancyScreenView currently has this code:

[code]

However, at this point of initialization, model.masses is empty and model.masses.get(0) returns undefined.  So it seems the type annotation should be changed, or the masses should be populated before this code is run.

This problem was revealed by https://github.com/phetsims/axon/issues/273

[2020-05-03 16:41] samreid opened #3 "Density and Buoyancy Common: 0 out of 0 tests passed. 0 failed."
From CT today, Density and Buoyancy Common: 0 out of 0 tests passed. 0 failed.

Referencing https://github.com/phetsims/tasks/issues/1035

[2020-05-03 16:43] samreid commented on #3
There are no unit tests yet

[code]

I'll remove that part until it's time for testing.

[2020-05-03 16:43] samreid commented on #3
Fixed, @jonathanolson can you please review?

[2020-05-06 20:42] jonathanolson commented on #3
Looks good, thanks!

[2020-05-06 20:42] #3 closed

[2020-05-06 20:42] jonathanolson commented on #2
This looks handled with a check and `null` in master, thanks~

[2020-05-06 20:42] #2 closed

[2021-01-26 18:55] zepumph opened #4 "Nested strings keys are not translatable."
Please see https://github.com/phetsims/chipper/issues/999 for background, but basically this has always been the case, but the assertion was broken until yesterday. Thus this repo's sims will not build until there are no more nested string keys.

Error on build:

[code]

Sorry for the inconvenience.

[2021-01-27 23:43] jonathanolson commented on #4
Handled with the above commit, closing.

[2021-01-27 23:43] #4 closed

[2021-08-06 21:07] samreid opened #5 "Code Review"
# PhET Code-Review Checklist (a.k.a "CRC")

~* Mark failed items with ❌ and note any related GitHub issues.~
~* Call attention to items with ⚠️ and note any related GitHub issues.~
~* Mark items that are not applicable with **N/A**~

UPDATE from @samreid, it will be more efficient for this code review for me to open a side issue for failed items, and to check off something that has been reviewed (

[2021-08-06 21:09] samreid opened #6 "review of pointer areas, see {{GITHUB_ISSUE_LINK}}"

[2021-08-06 21:10] samreid commented on #6
Was testing a new GitHub feature "convert checkbox to new issue", sorry for the noise, closing.

[2021-08-06 21:10] #6 closed

[2021-08-06 21:40] samreid opened #7 "Fuzzing fails an assertion if you resize the window while fuzzing"
The error is in mobius/js/ThreeIsometricNode.js

[code]

I was running http://localhost/main/density/density_en.html?brand=phet&ea&fuzz&debugger and resized the window manually.

[2021-08-07 02:39] jonathanolson commented on #7
Removed those assertions. Their purpose was to at one point ensure that we weren't "missing" resizes. Since this is "a resize is queued", I don't think those assertions are needed. Behavior of resizing while fuzzing now works nicely.

[2021-08-09 14:49] samreid commented on #7
Tagging for https://github.com/phetsims/density-buoyancy-common/issues/5

[2021-08-09 14:52] samreid opened #8 "THREE.MeshPhysicalMaterial: 'clearcoatRoughness' is not a property of this material."
After fuzzing http://localhost/main/density/density_en.html?brand=phet&ea&fuzz&debugger for #5 about a minute on Mac/Chrome, I saw this error output a few times:

What is the cause of this? Might it indicate a problem?

[2021-08-09 15:11] jonathanolson commented on #8
Interesting, https://threejs.org/docs/#api/en/materials/MeshPhysicalMaterial shows `clearcoatRoughness`, but inspecting build 104 shows `clearCoatRoughness` (slightly different spelling).

Since the appearance currently is fine and it was having no effect, I've removed that option.

[2021-08-09 15:14] samreid opened #9 "Possible memory leak"
As part of https://github.com/phetsims/density-buoyancy-common/issues/5 I made a recording of memory keep snap shot every minute for the first three minutes using the unmangled built version on Mac/Chrome with ?fuzz.

| Time (minutes)  | Heap Size (MB) |
| ------------- | ------------- |
| 0  | 35.0  |
| 1  | 86.1  |
| 2  | 113.0  |
| 3  | 141.0  |

This seems like it warrants further investigatio

[2021-08-09 15:22] samreid opened #10 "Duplicated constants in Cone"
During https://github.com/phetsims/density-buoyancy-common/issues/5, I noticed some duplicated magic numbers in Cone:

[code]

I also see a lot of 0.75 and 0.25 in this file.  Should some of these constants be factored out and described?

[2021-08-09 15:25] samreid opened #11 "Elaborate on `* @param {Engine} engine`"
As part of #5, I saw that `* @param {Engine} engine` appears in many places. Since it is very general terminology, it may be best to explain in the JS doc that it is from the matter physics engine, like:

[2021-08-09 15:26] samreid opened #12 "Which parts of config are required?"
During #5 I noticed this code in Cuboid.js:

[code]

It was unclear which parts were optional and required.  Or if all parts are optional, maybe it should be `options`?

[2021-08-09 15:30] samreid opened #13 "createMassesCallback has JSDoc indicating one parameter, but it is called with 2 parameters."
In DensityBuoyancyModal, `createMassesCallback` has JSDoc indicating one parameter, but it is called with 2 parameters.  Similar problems for `regenerateMassesCallback` and `positionMassesCallback`

[2021-08-09 15:32] samreid opened #14 "Inconsistent use of constants in DensityBuoyancyModel"
For #5, I noticed this code in DensityBuoyancyModel:

[code]

Some constants are factored out even though they are only used in one area, others are not factored out.  Should more constants be factored out?

[2021-08-09 15:35] samreid opened #15 "implementation-notes.md and model.md are empty"
From #5, I noticed that implementation-notes.md and model.md are empty.

[2021-08-09 15:37] samreid commented on #11
My mistake, I just noticed that Engine is our own term.  Perhaps a more specific name would help?  Like DensityBuoyancyCommonPhysicsEngine?  I'm open to other suggestions.

[2021-08-09 15:38] jonathanolson commented on #9
Definitely seeing a leak pattern in unbuilt. I'd tested a week or so ago with a built version (no leak), investigating.

[2021-08-09 15:39] samreid opened #16 "Can anything rotate?"
I noticed there is a lot of `canRotate: false`.  Can anything in density or buoyancy rotate?  Should that be mentioned? For #5

[2021-08-09 16:07] jonathanolson commented on #9
Looks like we're leaking SVGBlocks somehow.

[2021-08-09 16:34] jonathanolson commented on #9
Looks like the leak can be triggered with:

[code]

in the console, but we're disposing the Display. An SVGBlock seems to be created, but not disposed.

[2021-08-09 19:33] samreid opened #17 "Add documentation"
For #5, Some attributes warrant documentation.  For example, here are some I saw in Mass.js:

[code]

Offset from what?

[code]

How is a step matrix different from the primary matrix?

[code]

What is a step in this context, and why do we need them for X, bottom and top?

My questions are about Mass.js, but it may be helpful to skim around other files and add documentation of this sort.

[2021-08-09 19:41] samreid opened #18 "What is the red line in the debug view?"
I tested the debug view and saw a red line I didn't understand, is this how it should behave?

![image](https://user-images.githubusercontent.com/679486/128764558-26a6bb92-d410-4f56-9140-5de57aaed86f.png)

[2021-08-09 19:51] samreid commented on #18
Also, there is a green line.

[2021-08-09 19:52] samreid opened #19 "Debug view doesn't match up"
From #5, I saw the shapes were not sitting on each other in the debug view, but they still didn't fall.  Are the dimensions and scaling right?

![image](https://user-images.githubusercontent.com/679486/128765795-746ed593-5d7a-459e-ad9a-2cb286c9bbed.png)

[2021-08-09 19:54] samreid commented on #19
I unchecked "debug" and also it doesn't look like the 3d shapes match up either (seems like the block should fall):

![image](https://user-images.githubusercontent.com/679486/128766037-b00f5f38-2a28-4fd2-aebe-e7de16421321.png)

[2021-08-09 19:55] samreid commented on #19
False alarm, that block is just floating.  Closing.

[2021-08-09 19:55] #19 closed

[2021-08-09 19:57] samreid opened #20 "updateArrays are marked as private, but called from public"
For #5, `updateArrays` is marked as private and the IDE suggests it should not be callable:

![image](https://user-images.githubusercontent.com/679486/128766357-9b7c0b17-9ac2-46be-929b-6d70a35a40b6.png)

[2021-08-09 22:22] samreid opened #21 "Suppress Three.js output"
From https://github.com/phetsims/density-buoyancy-common/issues/5, I noticed the console prints out the following during startup:

[code]

Can this be suppressed, since we have a convention that nothing should be output during normal circumstances?

[2021-08-09 22:23] samreid commented on #21
I don't see a flag to enabled/disable that.  Instead I'd recommend commenting out that line in sherpa.

[2021-08-09 22:26] samreid opened #22 "What determines the weight when pulling an object down on a scale?"
From https://github.com/phetsims/density-buoyancy-common/issues/5, I observed very different weights when dragging an object down on a scale.  Adjusting the mouse while dragging (by a pixel or two) can also cause different readings on the scale.  Is this behavior by design, or emergent from the physics engine?  Does anything need to be done about it?

[2021-08-09 22:28] samreid opened #23 "Should the values in the density table be right aligned?"
From #5 Should the values in the density table be right aligned (so the decimals line up)?  They currently look like this.  Right-aligning would make the gold and lead stand out more.

![image](https://user-images.githubusercontent.com/679486/128782098-ad478ac6-d6b2-49cd-9275-e26b85a556e0.png)

[2021-08-09 22:37] samreid opened #24 "Are there issues for the {{GITHUB_ISSUE_LINK}} in the code review?"
From #5, I noticed it said:

The following standard GitHub issues should exist. _If these issues are missing, or have not been completed, pause code review until the issues have been created and addressed by the responsible dev._

- [ ] results of memory testing for `brands=phet`, see {{GITHUB_ISSUE_LINK}}
- [ ] results of memory testing for `brands=phet-io` (if the sim is instrumented for PhET-iO

[2021-08-10 16:45] samreid opened #25 "Are `secondaryMassVisibleProperty` and `secondaryMass.visibleProperty` redundant?"
During code review #5, I saw this code in DensityExploreModel:

[code]

Do we need both properties? If so, please explain how they are different and why it is important to have both.

[2021-08-10 16:50] samreid opened #26 "What is happening in `new DynamicProperty( this.leftBarrierViewPointProperty ).lazyLink( resizeBarrier );`?"
During code review #5, I noticed:

[code]

How is this different from

[code]

I saw a total of 3 DynamicProperty instantiations this applies to.

[2021-08-10 16:54] samreid opened #27 "Factor out the `cameraLookAt` values"
During code review #5, I noticed these `cameraLookAt` values:

![image](https://user-images.githubusercontent.com/679486/128901313-ba9406f0-f793-48f5-97b9-9bdeac5c97fb.png)

Is it a general pattern that density screens look at 0,0,0 and buoyancy screens look at 0, -0.18, 0?  Can those be factored out to a base ScreenView class?  Is the default of 0, -0.1,0 ever used?

[2021-08-10 17:21] jonathanolson commented on #9
https://github.com/phetsims/scenery/issues/1265 was causing this, but I was able to avoid it with the above commit for NodeTexture. It looks like the sim is quite stable with memory now, @samreid can you verify?

[2021-08-10 17:26] jonathanolson commented on #23
@DianaTavares thoughts?

[2021-08-10 17:36] DianaTavares commented on #23
I agree with @samreid, I think is better to have the decimals line up with a right alignment.

[2021-08-10 17:46] jonathanolson commented on #23
Implemented above, can you verify?

[2021-08-10 18:25] samreid commented on #23
Looks much better to me, here is a snapshot:

![image](https://user-images.githubusercontent.com/679486/128914516-e91e6916-9ee3-41f7-83a8-18535269bcb1.png)

Thanks, closing.

[2021-08-10 18:25] #23 closed

[2021-08-10 18:30] samreid opened #28 "Usage of scenery/layout"
During #5 I observed that density-buoyancy-common uses scenery/layout quite a bit.  The behavior seems good and it is the right direction to go in, but I wanted to check the status of scenery/layout, since I saw several files that had numerous TODOs, missing documentation, etc.  Is this the first sim that will be published with extensive usage of scenery/layout?  Is it ready to be in production co

[2021-08-10 18:37] samreid opened #29 "Boat.getBasinArea is marked as `@override` but not clear what it overrrides"
In #5, I observed Boat.getBasinArea is marked as `@override` but not clear what it overrrides.

[code]

I don't see any declarations of getBasinArea to override.  @jonathanolson can you take a look?

[2021-08-10 18:39] samreid commented on #13
For instance, BuoyancyIntroModel calls:

[code]

But the 3rd arg doesn't match the JSDoc type:

[code]

[2021-08-10 18:43] samreid opened #30 "getRayFromScreenPoint is marked as private but used in 5 files"
For #5, I observed `getRayFromScreenPoint` is marked as private but used in 5 files

[2021-08-10 18:44] samreid opened #31 "`* @param {function(THREE.Scene)} setupScene` has wrong number of arguments"
From #5, I observed `* @param {function(THREE.Scene)} setupScene` declares one argument, but is called with 2 arguments.

[2021-08-10 18:56] jonathanolson commented on #10
The getRadiusFromRatio and getHeightFromRatio are not tied together, just happen to be similar. Otherwise I factored out constants. Can you review?

[2021-08-10 19:03] jonathanolson commented on #31
Done, can you verify?

[2021-08-10 19:04] jonathanolson commented on #30
This works well as a public method, implemented above.

[2021-08-10 19:04] samreid commented on #31
Looks good, thanks!  Closing.

[2021-08-10 19:04] #31 closed

[2021-08-10 19:05] samreid commented on #10
Looks good, thanks!  Closing.

[2021-08-10 19:05] #10 closed

[2021-08-10 19:06] samreid commented on #30
Looks good, thanks!  Closing.

[2021-08-10 19:06] #30 closed

[2021-08-10 19:07] jonathanolson commented on #13
JSDoc was definitely wrong, should be fixed up.

[2021-08-10 19:09] jonathanolson commented on #29
Thanks for the catch, definitely had the wrong doc.

[2021-08-10 19:13] samreid commented on #29
Looks good, thanks!  Closing.

[2021-08-10 19:13] #29 closed

[2021-08-10 19:14] samreid commented on #13
Looks good, thanks!  Closing.

[2021-08-10 19:14] #13 closed

[2021-08-10 19:21] jonathanolson commented on #12
I'm curious what's best here. The supertype (Mass) notes what is required. Cuboid fills out everything required EXCEPT for `material` (so do other Mass subtypes). Is there a recommended pattern I can follow here?

[2021-08-10 19:24] jonathanolson commented on #21
I'm happy to do that, but we'll presumably need to note the modifications (at least for license stuff, and also for maintenance, no?) How do we do that?

Patching all three.js versions (including the older one for molecule-shapes) sounds good, just curious about what the precedent and license implications are.

[2021-08-10 19:32] jonathanolson commented on #22
It's done by applying forces (similar to examples in p2.js). So if you are dragging down on it, it's applying a large (but capped) force.

@DianaTavares just confirming this is expected/known/ok, anything that should be done?

[2021-08-10 19:36] jonathanolson commented on #25
I think this ends up being a phet-io design question. After the recent refactoring to add `visibleProperty` to individual masses, it would simplify the code to rely on the second masses' visibleProperty. @arouinfar thoughts on whether the top-level model Property is helpful or not?

[2021-08-10 19:39] jonathanolson commented on #26
leftBarrierViewPointProperty/rightBarrierViewPointProperty are Properties of Properties, and we need to also listen to the secondary Property for updates. Should those fields be renamed to something with `...PropertyProperty` to better indicate that?

[2021-08-10 19:44] samreid commented on #12
Thanks, I missed the declaration in Mass.js.  Should it assert that the required values are supplied?

[2021-08-10 19:45] jonathanolson commented on #20
These seem fine to be public, and it's useful from ScaleView. Done above.

[2021-08-10 19:46] samreid commented on #20
Looks good, thanks!  Closing.

[2021-08-10 19:46] #20 closed

[2021-08-10 19:50] samreid commented on #21
We had a similar problem in https://github.com/phetsims/chipper/issues/787 which we fixed by making a minor commit in sherpa.

THREE is MIT, so we can make this change without complications

In https://github.com/phetsims/chipper/issues/787 we said if the problem returns when we update to a new version, we'll fix it again in our copy of the new version.

[2021-08-10 19:53] samreid commented on #22
Here's a screen capture that overlaps with this issue:

![Kapture 2021-08-10 at 13 52 24](https://user-images.githubusercontent.com/679486/128926035-76e601de-1a07-498d-abd6-b3cc80dbde59.gif)

[2021-08-10 19:54] samreid opened #32 "Blocks can be dragged into the geometry of the scale"
From #5 and related to #22, I observed that a block can be dragged into the geometry of the scale:

![Kapture 2021-08-10 at 13 52 24](https://user-images.githubusercontent.com/679486/128926161-a01cabe3-6126-4fae-9e1e-71df1dda3517.gif)

[2021-08-10 20:00] samreid commented on #26
I don't understand why `rightBarrierViewPointProperty` should be a `Property<Property>`.  Isn't it a constant value depending on the screen?  For instance, BuoyancyExploreScreenView always has:

[code]

Why is this designed to be dynamic?

[2021-08-10 20:32] jonathanolson commented on #18
It's essentially a sideways chart, with:

- green proportional to the volume up to that level that is displaced in that basin
- red proportional to the area at that level that is displaced in that basin

So it shows essentially the "how much stuff isn't liquid" and the integral of that. These are incredibly helpful for debugging algorithms that use these (where should the liquid level be for basin

[2021-08-10 20:35] jonathanolson commented on #26
It's easier/simpler to design it that way, in my opinion. No fragility of "when after super() have we properly setup the Property so that NOW we can start to listen to it". Is there a better way?

[2021-08-10 20:35] jonathanolson commented on #26
It does eventually end up pointing to a specific Property depending on the screen, yes.

[2021-08-10 20:37] jonathanolson commented on #32
Correct, the physics system allows a certain amount of slip. Not desirable but expected. @DianaTavares thoughts?

[2021-08-10 20:42] jonathanolson commented on #21
Done above, can you verify?

[2021-08-10 20:46] jonathanolson commented on #12
Added assertions above.

[2021-08-10 20:49] samreid commented on #12
Looks good, thanks!  Closing.

[2021-08-10 20:49] #12 closed

[2021-08-10 20:50] samreid commented on #21
Looks good, thanks!  Closing.

[2021-08-10 20:50] #21 closed

[2021-08-10 20:52] jonathanolson commented on #16
Removed this for subtypes of Mass, no they shouldn't be able to rotate.

I did want to keep compatibility in the Engine code, in case we would want to use/refactor it out for future simulations.

[2021-08-10 20:53] jonathanolson commented on #11
I could imagine this being generalized (I would, if I need a physics engine in another sim). Thoughts on `PhysicsEngine`?

[2021-08-10 20:53] samreid commented on #26
I noticed some places use `value.value` and some use `DynamicProperty`.  Are all of those usages appropriate, or should some switch?  For me and perhaps other developers, `DynamicProperty.link` may be more opaque than using `value.value`.

[2021-08-10 20:55] samreid commented on #11
Leaving Density/Buoyancy out is fine with me, do you think it should indicate "2D" at all?

[2021-08-10 20:55] samreid commented on #16
Looks good, thanks!  Closing.

[2021-08-10 20:55] #16 closed

[2021-08-10 21:10] samreid commented on #26
@jonathanolson and I discussed this, and thought the documentation was the best way to address this, closing.

[2021-08-10 21:10] #26 closed

[2021-08-10 21:11] samreid commented on #7
Working great, thanks!  Closing.

[2021-08-10 21:11] #7 closed

[2021-08-10 21:11] arouinfar commented on #25
On the surface, `secondaryMassVisibleProperty` and `secondaryMass.visibleProperty` do seem redundant. However, I think they may be somewhat different. The former is hooked up to the RadioButtonGroup responsible for toggling between one and two blocks, for example `density.exploreScreen.view.secondMassVisibleControl`. In contrast, changing the state of `secondaryMass.visibleProperty` does not chang

[2021-08-10 21:12] arouinfar commented on #25
Tagging https://github.com/phetsims/density/issues/76 since it's relevant to the PhET-iO design review.

[2021-08-10 21:12] samreid commented on #8
Looks great, thanks!  Closing.

[2021-08-10 21:12] #8 closed

[2021-08-10 21:27] jonathanolson commented on #14
Factored out some more helpful constants (ones that I should have done before).

Thoughts?

[2021-08-10 21:28] jonathanolson commented on #11
`PhysicsEngine2D`? I guess it would be possible to have 3d engines. Would we also use `P2Engine2D`?

[2021-08-10 21:33] samreid opened #33 "Consider a more recent version of three.js"
From #5, Density & Buoyancy is using THREE r104 which was released April 2019.  Since then, there have been numerous releases.  We may have an easier time maintaining something more recent, perhaps before publication we should see if it is easy to use the current version. Or, if there are changes that make upgrading impossible, we should know what they are.  @jonathanolson can you please investiga

[2021-08-10 21:34] jonathanolson commented on #27
It does look like `BuoyancyIntroScreenView` uses the default. A supertype doesn't make sense to me for this level, since we have changed individual screens' values in the past, and are likely to do so with Buoyancy. How about I factor out used values into DensityBuoyancyCommonConstants? I wouldn't WANT to refactor things to make it a config instead of options, but I'd probably want to specify it i

[2021-08-10 21:39] samreid commented on #11
`PhysicsEngine` sounds reasonable to me.  We can rename later if something comes up.

[2021-08-10 21:48] samreid opened #34 "tapping on a block (without dragging) increases its weight on the scale"
For #5 and related to https://github.com/phetsims/density-buoyancy-common/issues/22

 ![Kapture 2021-08-10 at 15 47 46](https://user-images.githubusercontent.com/679486/128939431-6ecbf8a5-2b3b-4d16-9df8-4a15858dbf5c.gif)

Just tapping on a block (without dragging) increases its weight on the scale

[2021-08-10 22:33] samreid commented on #32
Reducing the stiffness of the RevoluteConstraint when in contact with the scale may help?  But @jonathanolson said that is a somewhat complicated solution.

[2021-08-10 23:54] jonathanolson commented on #27
Done above, can you review?

[2021-08-11 00:10] jonathanolson commented on #33
Upgrading looks possible, notable items from the migration guide (https://github.com/mrdoob/three.js/wiki/Migration-Guide):

- clearCoat => clearcoat
- BufferGeometry addAttribute => setAttribute
- BufferGeomtery removeAttribute => deleteAttribute
- The default value of MeshStandardMaterial.roughness has changed from 0.5 to 1.
- The default value of MeshStandardMaterial.metalness has changed from

[2021-08-11 00:14] DianaTavares commented on #32
I think that the problem is also related to this issue: https://github.com/phetsims/density/issues/54, where the block can get stuck behind the scale and was marked as "wontfix". I think is the same for this issue.

[2021-08-11 00:17] DianaTavares commented on #22
Nothing to add here. This behavior is acceptable.

[2021-08-11 00:17] #22 closed

[2021-08-11 01:01] jonathanolson opened #35 "branch: three-r131"
See https://github.com/phetsims/density-buoyancy-common/issues/33

[2021-08-11 01:08] jonathanolson commented on #33
An hour of porting, and most things are working except the envMap on MeshStandardMaterial is being internally concerted to an PMREM, and it's definitely not accepting the LDR texture provided, even with giving the proper LDR format (THREE.RGBFormat). All appearances of anything with reflection are completely off still:

![image](https://user-images.githubusercontent.com/480878/128954051-27caca28-7

[2021-08-11 02:19] samreid commented on #27
Was the change in DensityBuoyancyScreenView intended to be a pure refactor?  The value changed from -0.1 to 0.

[2021-08-11 02:25] samreid opened #36 "Usage of this deprecated constant: `SunConstants.VALUE_NUMBERED_PLACEHOLDER`"
From #5, I observed usage of this deprecated constant: `SunConstants.VALUE_NUMBERED_PLACEHOLDER`.

[2021-08-11 02:30] samreid opened #37 "Are there leaks due to registering observers or listeners? The following guidelines should be followed unless documentation (in-line or in implementation-notes.md) describes why following them is not necessary."
From #5, there are many DerivedProperty and `link` calls which are neither disposed, nor commented to describe why disposal is not necessary.

[2021-08-11 02:38] samreid opened #38 "Overlap of block labels when units are long"
From #5, I tried "kilograms" instead of "kg" and there was some overlap.  Should there be a maxWidth?

![image](https://user-images.githubusercontent.com/679486/128961011-bc16349e-b42e-4873-890f-d7a79c396655.png)

[2021-08-11 02:40] samreid opened #39 "Top block obstructed for stringTest=long"
From #5, the top block is obstructed when ?stringTest=long:

![image](https://user-images.githubusercontent.com/679486/128961127-72c889db-5eb4-4425-a840-dfeb8efb79b4.png)

[2021-08-11 02:43] samreid commented on #36
This also relates to the code review item:

[2021-08-11 02:48] samreid opened #40 "Make sure the string keys are all perfect, because they are difficult to change after 1.0.0 is published. Guidelines for string keys are:"
From the #5, I saw string keys like so:

[code]

I see how it is structured using the dot notation and maybe that is a good fit for this sim.  However, since it is difficult to change string keys after publication, let's make sure it's exactly what is desired.  The code review checklist calls for string keys like so:

[code]

I recall we also have been working on nesting structure in string files,

[2021-08-11 02:52] samreid opened #41 "Is the js/ directory properly structured?All JavaScript source should be in the js/ directory. There should be a subdirectory for each screen (this also applies for single-screen sims, where the subdirectory matches the repo name). For a multi-screen sim, code shared by 2 or more screens should be in a js/common/ subdirectory. Model and view code should be in model/ and view/ subdirectories for each screen and common/. For example, for a sim with screens “Introduction” and “Lab”, the general directory structure should look like this:`my-repo/ js/ common/ model/ view/ introduction/ model/ view/ lab/ model/ view/ my-repo-main.js myRepo.js myRepoStrings.js`"

[2021-08-11 02:55] samreid opened #42 "Is there a file in assets/ for every resource file in sound/ and images/? Note that there is not necessarily a 1:1 correspondence between asset and resource files; for example, several related images may be in the same .ai file. Check license.json for possible documentation of why some reesources might not have a corresponding asset file."
Is there an asset for the single and double cuboid mipmaps?  For #5

[2021-08-11 03:03] samreid opened #43 "Was the README.md generated by `grunt published-README` or `grunt unpublished-README`?"
From #5, what should the README for density-buoyancy-common look like?  It seems like https://github.com/phetsims/circuit-construction-kit-common/ has a generated one.  The density-buoyancy-common one looks reasonable but doesn't match the code review document so I thought I'd mention it.

[2021-08-11 03:06] samreid opened #44 "Does package.json refer to any dependencies that are not used by the sim?"
For #5, I noticed that density-buoyancy-common and density have different preloads.  Density lists `"../sherpa/lib/poly-decomp-0.3.0.js",` but density-buoyancy-common does not.  Also, I forget if preloads are transitive or have to be mentioned in each file.

[2021-08-11 03:07] samreid opened #45 "Is the LICENSE file correct? (Generally GPL v3 for sims and MIT for common code, see this thread for additional information)."
For circuit-construction-kit-common, it was decided that repo should be licensed as GPL since it is very sim-specific, I suspect the same applies for density-buoyancy-common.  For #5.

Should we also update the code review document?

[2021-08-11 03:18] samreid opened #46 "Properties should use type-specific subclasses where appropriate (e.g. BooleanProperty, NumberProperty, StringProperty) or provide documentation as to why they are not."
For #5, I saw several places that could use EnumerationProperty, and some that could use Vector2Property.

[2021-08-11 14:40] jonathanolson commented on #46
I just fixed up what I was able to find. I definitely didn't see any place where EnumerationProperty could be used that isn't, could you clarify?

Additionally, should we open up a common code issue about Vector3Property, Bounds3Property, and other things not existing that I would have expected would have been kept in-line with the other dimensional equivalents?

[2021-08-11 14:43] jonathanolson commented on #45
Sounds good to me, @kathy-phet can you verify?

Also, @kathy-phet, does this sound correct in general?

[2021-08-11 14:44] jonathanolson commented on #44
It's not transitive, I could probably toss the density-buoyancy-common dependencies. For me it's helpful documentation, but I'm curious what your thoughts are. I updated it above, but should we just get rid of them?

[2021-08-11 14:46] jonathanolson commented on #43
I usually consider this applying to sim repos. density-buoyancy-common isn't a sim repo (it won't get published on its own), so the CCK-common one looks... incorrect.

Thoughts? Should this be discussed at a dev meeting?

[2021-08-11 14:50] jonathanolson commented on #42
They were generated, but it adds a lot of overhead (and webgl contexts) to do so on startup, so they were exported to images. Added more documentation above.

Thoughts on whether that's acceptable?

[2021-08-11 14:53] jonathanolson commented on #41
To clarify, I should have:

- density/js/view/compare/CompareScreen.js
- density/js/view/explore/ExploreScreen.js
- density/js/view/mystery/MysteryScreen.js

Correct?

[2021-08-11 14:58] jonathanolson commented on #40
I had it nested, but had to revert in https://github.com/phetsims/density-buoyancy-common/commit/f38c00eee6c2502b0f533e9311082d508f021579#diff-91764b689d6a982eb69fdb9a705b86ab0a0ed1593706a3fd43da3923ed009175 (due to the linked issues, it wasn't supported).

The grouping here feels natural to me, thoughts on whether it should be changed?

[2021-08-11 15:02] samreid commented on #40
It seems reasonable to me, but I don't know all the reasons for the code review document.  Perhaps we should get a second opinion and/or revise the code review checklist.  I'll reach out on slack.

[2021-08-11 15:02] jonathanolson commented on #36
Ahh, looks like NumberDisplay now works with the named placeholder by default (handled above).

[2021-08-11 15:07] samreid commented on #40
@zepumph said:

I replied:

@zepumph said:

[2021-08-11 15:11] samreid commented on #40
I updated the CRC accordingly, @jonathanolson can you please review?

[2021-08-11 15:12] jonathanolson commented on #39
@DianaTavares should I shorten the maxWidths here so that it won't overlap?

[2021-08-11 15:13] jonathanolson commented on #40
Looks great to me, thanks!

[2021-08-11 15:13] samreid commented on #44
I would keep them for clarity, keeping in mind one day density-buoyancy-common may have a test harness.  The commit looks good, closing.

[2021-08-11 15:13] #44 closed

[2021-08-11 15:13] #40 closed

[2021-08-11 15:14] jonathanolson commented on #38
@DianaTavares presumably there should be a maxWidth here, any thoughts on whether we want the English variant to scale down at all? I could try to find the width it takes in common browsers, and set a maxWidth a bit above that.

[2021-08-11 15:19] samreid commented on #36
Looks good, thanks!  Closing.

[2021-08-11 15:19] #36 closed

[2021-08-11 15:43] jonathanolson commented on #37
Added comments describing why disposal isn't necessary (and one listener disposal for `?showDebug` handling that wasn't proper)

[2021-08-11 15:44] jonathanolson commented on #27
Yes, I moved the one usage of that value out to the screen that is using it, so the default isn't being used currently.

[2021-08-11 15:52] samreid commented on #27
Looks good, thanks!  Closing.

[2021-08-11 15:52] #27 closed

[2021-08-11 15:53] samreid commented on #37
Looks good, thanks!  Closing.

[2021-08-11 15:53] #37 closed

[2021-08-11 15:55] samreid commented on #41
The `Screen` subclasses are above model and view, so I think it would be like this:

density/js/compare/CompareScreen.js

etc.

[2021-08-11 15:55] samreid commented on #42
Looks great, thanks!  Closing.

[2021-08-11 15:55] #42 closed

[2021-08-11 15:58] samreid commented on #43
counting-common has unpublished-README.  inverse-square-law-common has a custom README.  number-line-common has a custom README.  Hopefully we can decide this on slack, I'll reach out.

[2021-08-11 16:04] samreid commented on #46
Could EnumerationProperty be used in cases like these:

[code]

etc?

[2021-08-11 16:06] samreid commented on #46
Perhaps https://github.com/phetsims/axon/issues/221 was intended for that?  I'm OK with any of these plans:
* create an issue for making those
* create those
* just use the ones that exist and not worry about the others at the moment.

What do you recommend?

[2021-08-11 16:12] samreid opened #47 "Are `Validator` validation options (`valueType`, `validValues`, etc...) utilized? These are supported in a number of core types like `Emitter` and `Property`. Is their presence or lack thereof properly documented?"
For #5, I'm seeing several places where validators could be used.  For instance:

[code]

could be:

[code]

However, once we move to TypeScript, that kind of value type checking won't be necessary.  `validValues` should be better supported once we are using EnumerationProperty in #46.  Other places like:

[code]

may wish to specify the range of values?

[2021-08-11 16:12] jonathanolson commented on #25
Handled this for everything except Buoyancy's Shapes screen (which will probably need phet-io design on its own).

@arouinfar how does this look?

@samreid does this satisfy your concern?

[2021-08-11 16:15] samreid commented on #25
Yes, the code change looks good.  @arouinfar please close if the design is satisfactory.

[2021-08-11 16:18] jonathanolson commented on #41
Handled in Density/Buoyancy, can you verify?

[2021-08-11 16:20] samreid commented on #41
Looks great, thanks!  Closing.

[2021-08-11 16:28] jonathanolson commented on #46
Not that I'm aware of, custom gravities and materials are created dynamically and seem unsuitable to Enumeration. If there's a way to provide better phet-io support, let me know.

I'd defer to your judgment, I'm fine to not make changes.

[2021-08-11 16:30] samreid commented on #46
Thanks, I forgot about the custom ones.  All seems well, closing.

[2021-08-11 16:30] #46 closed

[2021-08-11 16:37] samreid opened #48 "Classes that mix in traits or mixin should use the `@mixes MyType` annotation."

[2021-08-11 16:37] samreid opened #49 "Classes that mix in traits or mixin should use the `@mixes MyType` annotation."
From #5, there seem to be several mixins that don't use `@mixes`.

[2021-08-11 16:40] samreid opened #50 "Commented out code"
During #5 I noticed

[code]

There may be other commented out code, it should be evaluated and deleted if not necessary.

[2021-08-11 16:44] samreid opened #51 "Abstract methods should be annotated with @abstract"
During #5 I noticed there are more Abstract methods that should be annotated with @abstract

[2021-08-11 16:45] samreid opened #52 "Options merge unnecessary in abstract method"
During #5 I saw this code:

[code]

Perhaps the merge should be deleted?
It s

[2021-08-11 16:54] jonathanolson commented on #47
Forgot to tag https://github.com/phetsims/density-buoyancy-common/commit/7e4d0bcaf93a0488a550d44fc36683bd76958f0f, in addition to the above commit (added validations and ranges to things that seemed workable).

How does that look?

[2021-08-11 16:55] jonathanolson commented on #50
Looks best to be removed, thanks!

[2021-08-11 16:57] jonathanolson commented on #51
I believe I handled it with the above commit.

[2021-08-11 17:11] jonathanolson commented on #52
Done, documented the option in a better way.

[2021-08-11 17:21] jonathanolson commented on #49
Handled above, only saw the Modal mixin.

[2021-08-11 17:22] samreid commented on #50
Looks great, thanks!  Closing.

[2021-08-11 17:22] #50 closed

[2021-08-11 17:23] samreid commented on #51
Looks good, thanks!  Closing.

[2021-08-11 18:33] samreid opened #53 "What is Engine.Body?"
For #5, I saw references to `Engine.Body` but I wasn't sure where the implementation is.  Can you clarify?

[2021-08-11 18:38] samreid opened #54 "Some `@param {function}` could specify types"
For #5 the code review document recommends specifying types for functions.  For instance, there are several places in the code like:

[code]

where it doesn't mention the parameter type or

[code]
where it doesn't indicate the return type.

[2021-08-11 18:40] samreid opened #55 "Put qualifiers in parenthesis after the annotation,"
From #5, I would have expected to see more attributes marked as read-only, but I didn't see any.  @jonathanolson can you please take a look?

[2021-08-11 18:44] samreid opened #56 "Are any significant chunks of code duplicated? This will be checked manually as well as with https://github.com/danielstjules/jsinspect."
From #5, I ran the Webstorm Code=>Analyze => Locate Duplicates and it found numerous duplicated code, like so:

![image](https://user-images.githubusercontent.com/679486/129085577-ad042132-9883-4dab-915b-9e0d4ba4dc24.png)

[2021-08-11 18:46] samreid opened #57 "Are there any `TODO` or `FIXME` or `REVIEW` comments in the code? They should be addressed or promoted to GitHub issues."
From #5, there are currently 20 TODOs.

[2021-08-11 18:48] samreid opened #58 "Is PhetColorScheme used where appropriate? Verify that the sim is not inventing/creating its own colors for things that have been standardized in `PhetColorScheme`. Identify any colors that might be worth adding to `PhetColorScheme`."
From #5, some colors such as the gravity force differ from the PhetColorScheme. Is this by design?

[2021-08-11 19:00] samreid opened #59 "Should the PhET-iO API be tracked as stabilized?"
If this simulation is nearing RC.1 for a PhET-iO brand release, then it could be wise to check in its API and add it to phet-io-api-stable so we can detect regressions.  For #5

[2021-08-11 19:02] samreid opened #60 "Check phetioDocumentation coverage?"
For #5 I observed very few occurrences of `phetioDocumentation`, it was unclear whether this was an oversight or by design.  @jonathanolson can you please review?

[2021-08-11 19:05] samreid opened #61 "Tandems switch between parameter and option"
For #5, I noticed tandems move between required parameter and appearing in the options.  The "best practices for Tandems" section indicates that where options are supported, the tandem should be in the options:

https://github.com/phetsims/phet-io/blob/master/doc/phet-io-instrumentation-technical-guide.md#best-practices-for-tandem

For instance:

[code]

[2021-08-11 19:23] samreid opened #62 "Document the meaning of `nullBody`"
I've seen `nullBody` mentioned several places and not sure what it means (other than maybe an empty container?). Can you please document?  For #5

[2021-08-11 19:38] samreid commented on #5
Code review complete, nice work @jonathanolson! This sim is coming along really nicely.

For the scope of the review, I looked at density/ and density-buoyancy-common/.  I did not look at buoyancy or density-buoyancy-common/js/buoyancy--I recommend scheduling that for separate review when buoyancy is close to RC.1.  I did not take a deep dive into mobius or scenery/js/layout, just creating minor s

[2021-08-11 21:01] samreid commented on #52
Excellent, thanks!  Closing.

[2021-08-11 21:01] #52 closed

[2021-08-11 21:01] samreid commented on #49
Excellent, thanks!  Closing.

[2021-08-11 21:01] #49 closed

[2021-08-11 21:02] samreid commented on #47
Excellent, thanks!  Also, I should mention another dev showed me you can comment in a commit thread like I did in https://github.com/phetsims/density-buoyancy-common/commit/7e4d0bcaf93a0488a550d44fc36683bd76958f0f to attach a commit to an issue.  Closing.

[2021-08-11 21:02] #47 closed

[2021-08-11 21:03] samreid commented on #18
Sounds good, can you please add notes of that nature to the implementation?

[2021-08-11 21:04] samreid commented on #14
Looks good, thanks!  Closing.

[2021-08-11 21:04] #14 closed

[2021-08-11 21:04] samreid commented on #9
I tested the sim in data-stream-colorized for phet-io and the memory usage was stable.  Closing.

[2021-08-11 21:04] #9 closed

[2021-08-12 14:13] DianaTavares commented on #39
Yes, @jonathanolson. I think that is the best solution for it.

[2021-08-12 14:23] DianaTavares commented on #38
In all the sims we allow to translate the units, then this should be the case here too. I think that the maxWidth can not be much more longer because we can have the problem related to this issue: https://github.com/phetsims/density/issues/64 where the labels of small blocks overlap.

![image](https://user-images.githubusercontent.com/26031501/129213607-1a95713c-f71c-4b2e-a40f-94dc00bdf5ad.png)

I

[2021-08-12 16:11] jonathanolson commented on #53
Each engine typically has its own body type (p2.Body is the type for p2.js), so it's just an abstraction over a reference to a body/object that can be provided back to the Engine API.

[2021-08-12 16:28] jonathanolson commented on #54
Added docs above.

[2021-08-12 16:47] jonathanolson commented on #55
Added read-only qualifiers above.

[2021-08-12 17:08] jonathanolson opened #63 "Memory testing for phet brand"
See https://github.com/phetsims/density-buoyancy-common/issues/24

[2021-08-12 17:08] jonathanolson opened #64 "Memory testing for phet-io brand"
See https://github.com/phetsims/density-buoyancy-common/issues/24

[2021-08-12 17:09] jonathanolson commented on #24
https://github.com/phetsims/density/issues/70 is the dedicated performance issue.

[2021-08-12 17:10] jonathanolson commented on #24
Credits issue is https://github.com/phetsims/density/issues/31.

[2021-08-12 17:11] jonathanolson commented on #24
Added the above issues (or mentioned existing ones), and I'll handle the memory testing again. Does that look sufficient?

[2021-08-12 17:13] jonathanolson commented on #18
Added notes above.

[2021-08-12 17:48] samreid commented on #53
Is there a natural place that could be documented in a comment?  Perhaps in a typedef?

[2021-08-12 17:49] samreid commented on #18
Excellent, thanks!  Closing.

[2021-08-12 17:49] samreid commented on #24
The side issues look great, thanks!  Closing.

[2021-08-12 17:49] #24 closed

[2021-08-12 17:50] samreid commented on #54
Looks great, thanks!  Closing.

[2021-08-12 17:50] #54 closed

[2021-08-12 17:51] samreid commented on #55
Looks great, thanks!  Closing.

[2021-08-12 17:51] #55 closed

[2021-08-12 21:18] samreid opened #65 "Why are there so many instrumented ProfileColorProperties?"
At today's design meetings, we were wondering why there are so many ProfileColorProperties showing in Studio? I wasn't sure Material requires value-based serialization, and why the predefined ones cannot use ReferenceIO serialization?  It seems we want to find out if some ProfileColorProperties can be removed from the Studio tree, or, if not, then mark them as phetioReadOnly: true or make sure the

[2021-08-16 18:47] jonathanolson commented on #63
Confirmed that this is currently testing well.

[2021-08-16 18:47] #63 closed

[2021-08-16 19:09] jonathanolson commented on #64
Looks good here.

[2021-08-16 19:09] #64 closed

[2021-08-16 19:27] jonathanolson commented on #11
Renamed above, does this look good to you?

[2021-08-16 19:28] jonathanolson commented on #53
Commented in the top of PhysicsEngine.js. A typedef doesn't really... make sense for any code. Presumably this would be doable/enforceable with TypeScript? Thoughts?

[2021-08-16 19:28] samreid commented on #11
Looks good, thanks!  Closing.

[2021-08-16 19:28] #11 closed

[2021-08-16 19:30] samreid commented on #53
That seems good for now.  Not sure whether TypesScript would use generics or an interface, etc.  Closing.

[2021-08-16 19:30] #53 closed

[2021-08-17 18:05] jonathanolson commented on #17
Added better documentation for these, does it look sufficient?

[2021-08-17 21:23] jonathanolson commented on #15
Added both above, let me know if this looks good?

[2021-08-17 21:29] jonathanolson commented on #34
@DianaTavares @kathy-phet thoughts on how problematic this is? I'm not seeing an easy way to handle this, it looks like just the existence of the drag constraint in the physics engine is causing this.

[2021-08-17 21:36] jonathanolson commented on #39
Should be fixed above, @DianaTavares can you verify?

[2021-08-17 21:40] jonathanolson commented on #38
Added the maxWidth above, @DianaTavares can you verify?

[2021-08-17 22:42] samreid commented on #15
The added information is very helpful.  I was expecting to see more architectural-level detail, perhaps in the direction of:

https://github.com/phetsims/natural-selection/blob/3cbd73fa5e7b7e69c6cf8d5d1dbc1270447538ce/doc/implementation-notes.md
https://github.com/phetsims/natural-selection/blob/53bcf65ab933c3804bcb7513eb33d2420316e468/doc/model.md

I'm not sure it needs to be 100% as detailed as

[2021-08-18 18:23] jonathanolson commented on #57
These are exclusively for Buoyancy, I'll handle those when doing work for just Buoyancy.

[2021-08-18 18:27] jonathanolson commented on #58
Was decided to use the PhetColorScheme gravitational force colors. The others don't apply, and seem sim-specific.

[2021-08-18 18:27] #58 closed

[2021-08-18 18:31] jonathanolson commented on #62
Added documentation above, does that look good?

[2021-08-18 18:38] jonathanolson commented on #60
@arouinfar let me know what should have phetioDocumentation?

[2021-08-18 19:53] jonathanolson commented on #61
Should be done with the above two commits.

[2021-08-20 22:23] samreid commented on #65
It seems reasonable to keep ProfileColorProperty like `comparingYellowColorProperty` instrumented, since it is part of the Material state.  It should be marked as `phetioReadOnly: true` so it cannot be edited in studio.

Other colors like `radioBackgroundColorProperty` seem like the instrumentation should be removed.

@jonathanolson can you take a first pass?

[2021-08-23 14:46] jonathanolson commented on #65
Implemented those thoughts above.

Thoughts on creating a separate name mapping and re-implementing reference serialization locally to avoid the colors being given tandems and showing up in phet-io studio?

[2021-08-23 15:11] jonathanolson commented on #56
I'd be curious about specific recommendations for avoiding duplicates? Would a utility function help out for the Cuboid/VerticalCylinder getDisplacedVolume case? (They happen to be the same, because they both independently have stepMaximumVolume AND their sides are vertical)

Or are there simplifications I could make to the vertex code?

Let me know if this would be good to discuss/prototype on a

[2021-08-23 15:21] jonathanolson commented on #59
I saw this in the documentation:

It's unclear to me whether I should be marking `phetioDesigned: true` on the full simulation, or if we're relying only on validation of tracked components. There are many different components in the simulation.

What steps should I take to do this? Sounds like it's ready, and I can regenerate the API when needed if further changes happen.

[2021-08-23 20:14] samreid commented on #56
How about a VerticalMass class that is a parent for both Cuboid and VerticalCylinder?

Here is some of the duplicated code in the vertex code:

![image](https://user-images.githubusercontent.com/679486/130512857-4b33eddb-1ae5-47a6-8801-a5fb756e8254.png)

What about factoring out position, normal and uv (passing in the other closure variables as regular args)?

Bottle.js has this repeated twice:

[

[2021-08-23 20:30] samreid commented on #65
My understanding from the last meeting was that it would be "good enough" for them to be marked as read-only.  And since you were able to uninstrument some, that is even better.  I do have some hesitation since there are still 32 or so instrumented (read-only) color properties, it is more than I expected.  But I'm not sure how fragile the "a separate name mapping and re-implementing reference seri

[2021-08-23 21:12] samreid commented on #59
If a PhET-iO designer has signed off on the design for the entire sim, then the Sim itself can be marked as `phetioDesigned: true`.  Please see natural-selection/js/natural-selection-main.js for an example.

Please also add it to perennial/data/phet-io-api-stable

[2021-08-24 01:51] DianaTavares commented on #39
working!!

[2021-08-24 01:51] #39 closed

[2021-08-24 01:53] DianaTavares commented on #38
working!

[2021-08-24 01:53] #38 closed

[2021-08-30 01:36] arouinfar commented on #25
Looks good to me, thanks @jonathanolson

[2021-08-30 01:36] #25 closed

[2021-08-30 20:32] arouinfar commented on #60
@jonathanolson I made recommendations for phetioDocumentation in https://github.com/phetsims/density/issues/91.

[2021-08-30 20:32] #60 closed

[2021-09-01 18:56] jonathanolson commented on #15
Fleshed out more information on both, can you check?

[2021-09-01 20:39] jonathanolson commented on #28
I believe @kathy-phet noted that this should not block Density, but will be good to do sometime. Marking as deferred and unassigning.

[2021-09-01 20:49] DianaTavares commented on #34
On the 08/26 design meeting was decided that this is not a priority to solve.  The strange behaviour stop once the user is not clicking/taping, and we don't see issues during the interviews.  The decision was to close the issue.

[2021-09-01 20:49] #34 closed

[2021-09-01 20:52] jonathanolson commented on #65
Ok, sounds good! Closing then.

[2021-09-01 20:52] #65 closed

[2021-09-01 20:57] jonathanolson commented on #59
@arouinfar let me know when the phet-io design for the sim is signed-off!

[2021-09-01 22:32] samreid commented on #15
These look great, but I have a minor grammar recommendation.  Several places use the form that can be interpreted as future, like:

and

To some readers, it might sound like those are things we intend to do in the future, instead of describing how it is right now.  Aside from that everything seems good to me!

[2021-09-01 23:14] jonathanolson commented on #15
Hopefully fixed above.

[2021-09-02 00:52] samreid commented on #15
Looks great, thanks!  I think this issue can be closed, please reopen if there is more to do.

[2021-09-02 00:52] #15 closed

[2021-09-02 04:50] samreid commented on #17
Looks good, thanks!  Closing.

[2021-09-02 04:50] #17 closed

[2021-09-02 05:02] samreid commented on #62
Looks good, thanks!  Closing.

[2021-09-02 05:02] #62 closed

[2021-09-02 05:04] samreid commented on #61
Looks good, I didn't see any more occurrences of `, tandem`, closing.

[2021-09-02 05:04] #61 closed

[2021-09-02 18:34] samreid commented on #43
We agreed it is OK for common code repos to have custom README.md files.  The density-buoyancy-common one looks good.  Back to @samreid to update the code review checklist to indicate that is OK.

[2021-09-07 22:18] jonathanolson commented on #56
I believe I handled the above cases (and the triangle code definitely should be simpler... it would mainly bottleneck in Buoyancy so I can handle performance issues there).

Can you review, anything else here?

[2021-09-15 20:45] jonathanolson commented on #5
Everything should be broken out into issues. Thank you!

[2021-09-15 20:45] #5 closed

[2021-09-23 20:33] jonathanolson opened #66 "Add separate Properties for visibility of subpanels"
We want the users to be able to toggle visibility of subpanels independently, don't link the property

[2021-09-28 01:38] jonathanolson commented on #66
I've hooked this up so now you can adjust the visibleProperty on blockAControlPanel or blockBControlPanel. This will be able to force-hide those panels (they are actually shown if that is visible AND the mass is visible in the play area).

@arouinfar can you check and see if this works as desired?

[2021-09-29 05:30] samreid commented on #43
I noted this in the code review checklist.  Closing.

[2021-09-29 05:30] #43 closed

[2021-09-30 18:40] jonathanolson commented on #33
Marking as wont-fix.

[2021-09-30 18:41] samreid commented on #56
TriangleArrayWriter looks great, thanks!  I don't see any more work to be done here.

[2021-09-30 18:41] #56 closed

[2021-11-04 19:10] arouinfar commented on #59
@jonathanolson consider this the sign-off for density.

[2021-11-04 19:11] arouinfar commented on #66
The `visibleProperty` of the panels is generally behaving as I'd expect, but it would be nice if the panel could resize to fit the contents to avoid empty space:
![image](https://user-images.githubusercontent.com/8419308/140404392-b1faca7b-2a8d-4be0-9f6b-4163ef83318e.png)

[2021-11-10 06:54] jonathanolson commented on #66
This was pretty tricky, but should be fixed now (discovered some core layout issues).

[2021-11-10 17:17] arouinfar commented on #66
Looks good in master, thanks @jonathanolson

[2021-11-10 17:17] #66 closed

[2021-11-11 16:20] jonathanolson commented on #59
Done above, closing!

[2021-11-11 16:20] #59 closed

[2022-01-03 23:10] samreid opened #67 "The scale may disappear when pressing "Preview Sim" in studio."
A client reported that the scale was disappearing in a studio-customized sim.  I tested by making a short, wide aspect ratio in studio, then pressing "Preview Sim" and confirmed the scale was missing.

![image](https://user-images.githubusercontent.com/679486/147990100-d976c991-4298-48ec-8ed4-23ea2d6912f3.png)

If you resize the window by 1px, the scale returns.  So perhaps there is some layout co

[2022-01-04 00:16] arouinfar commented on #67
This looks potentially related to https://github.com/phetsims/density/issues/117. Essentially, abruptly changing the aspect ratio of the sim can have odd effects.

[2022-01-04 00:26] kathy-phet commented on #67
@samreid - This seems likely a general phet-io issue as you mention, and not Density specific. Can you investigate a solution in phet-io?

[2022-01-04 03:58] samreid commented on #67
I considered 3 perspectives for this problem:

* First, I tried calling `resizeBarrier` later, like so:

<details>

[code]

</details>

In this case, when I run studio, make the sim short and wide, and press "Preview Sim", then when the `resizeBarrier` is called, it updates the position and the scale appears onscreen.

2. I investigated removing the scale's position from the phet-io state in `Mass

[2022-01-04 21:55] zepumph commented on #67
During a meeting today, we found that this can also happen to the blocks, when their positions are way off the screen, they can get completely lost. @jonathanolson mentioned that this was a separate issue and the he would create another github issue to tackle this.

[2022-01-05 16:45] samreid opened #68 "Customized block colors are not restored in studio "Preview Sim""
A client pointed out that Customized block colors are not restored in studio "Preview Sim".  I'm not sure if the problem is sim-specific or phet-io specific, so I've assigned @jonathanolson and myself and @zepumph for now.

[2022-01-05 16:55] zepumph commented on #68
This Property is marked as phetioState:false, not sure why. https://github.com/phetsims/density-buoyancy-common/blob/3c4c5d52ebf111f9f5da233572943d37971b30f0/js/common/model/Mass.js#L227

[2022-01-05 16:57] samreid commented on #68
It seems like those values should be `phetioState: true`.  I tried changing `phetioState` to true for the material and color properties (and even the custom density property), but it did not solve the problem.  I recommend @jonathanolson take the lead on this issue and reach out to @zepumph or myself as necessary.  There are many parts of Mass.js (including materials, colors, locks, etc.) that may

[2022-01-05 18:05] jonathanolson commented on #68
Looking into it. @arouinfar do you know whether we should have things like customColorProperty also saved in the state (so that it could be recustomized?)

[2022-01-05 18:40] arouinfar commented on #67
@jonathanolson updates to the client guide were made in the above commit, which will require cherry-picking into the release branch.

[2022-01-05 19:04] jonathanolson commented on #68
I believe this is handled, @arouinfar can you verify?

[2022-01-05 19:33] arouinfar commented on #68
@jonathanolson the `customColorProperty` is now stateful in master.

@kathy-phet and I are concerned by @samreid's https://github.com/phetsims/density-buoyancy-common/issues/68#issuecomment-1005900825 about `phetioState`. It looks like there are several properties that are `phetioState: false` including `materialEnumProperty`, `customDensityProperty` and `massProperty`.

While these properties are

[2022-01-06 00:21] jonathanolson commented on #68
Applied to master and the release branch.

`massProperty` is effectively a derived Property that we changed so that it could be set. There is no advantage in my eyes for it being `phetioState: true`, since when the sim is loaded, `massProperty` will automatically take the correct (same) value that was in the previous saved sim's "state".

[2022-01-06 00:22] jonathanolson commented on #68
I believe the rest of the work should be done here.

[2022-01-06 00:57] jonathanolson commented on #67
Patched the client guide commit into the release branch. Working on the barrier fix.

[2022-01-06 01:56] jonathanolson commented on #67
Barrier fix applied in master and release branch. @arouinfar can you verify?

[2022-01-06 03:13] arouinfar commented on #68
Thanks @jonathanolson. The `materialEnumProperty` looks good in master and its state is properly restored when previewing customizations in Studio. Looks like `customDenistyProperty` is `phetioState: true` in Studio, though I don't have a way of verifying the statefulness of customizations, so that'll have to do for now.

[2022-01-06 03:26] arouinfar commented on #67
@jonathanolson I am unable to lose the scale or blocks when previewing the sim in Studio.

I tested at wide aspect ratios like this.
![Density screenshot](https://user-images.githubusercontent.com/8419308/148323135-e9c91a5a-ee3b-4ecf-85c3-b3f5669d1fac.png)

When clicking "Preview Sim", blocks D & C get pushed into the pool. Blocks E & B also get shifted. Block E is apparently missing, but it reapp

[2022-01-06 17:05] jonathanolson commented on #67
Yes, seems unfortunately expected. Marking for QA.

[2022-01-07 21:34] KatieWoe commented on #68
This looks good in rc.3 from what I can tell. The only oddity I saw was in the random blocks. If you change a block color, and then get a new random set, a new random color is selected. This doesn't seem like a problem to me, but I wanted to check.

[2022-01-07 22:21] arouinfar commented on #68
Thanks @KatieWoe. I think this behavior is to be expected and reasonable, so I'll go ahead and close.

[2022-01-07 22:21] #68 closed

[2022-01-10 16:56] KatieWoe commented on #67
I'm seeing the same thing as https://github.com/phetsims/density-buoyancy-common/issues/67#issuecomment-1006255968. Looks fixed. @jonathanolson I'm leaving this open in case we want to address the blocks moving and being in the scale in the future. Otherwise, this can be closed.

[2022-02-09 21:34] zepumph opened #69 "Lost enabledRangeProperty from PhET-iO API?"
While working on https://github.com/phetsims/sun/issues/686, I saw that density had lost an enabledRangeProperty from its API. I need to investigate this. It may be purposeful, or it could be a regression from https://github.com/phetsims/scenery/issues/1340

[2022-02-11 02:56] zepumph commented on #69
@jonathanolson, I'm trying to hunt down why the PhET-iO is showing a removal of the default 'enabledRangeProperty' for density. I feel like it may have something to do with the AccessibleSlider conversion, but I can't crack it. Did you make any changes to your sim?

Ahh, I see https://github.com/phetsims/density-buoyancy-common/commit/56093e1a86bc016b2e970b4ce13cc2288fcec9e4, so perhaps this is sa

[2022-02-11 18:30] zepumph commented on #69
@samreid, here is a case where we are now providing our own enabledRangeProperty, should we create a linkedElement for this case? This way we don't lose the reference?

[2022-02-16 19:07] zepumph commented on #69
@samreid, does this seem reasonable to add a linkedElement for passed in enabledRangeProperty?

[2022-05-12 21:17] pixelzoom opened #70 "Use `combineOptions` in DensityTableNode.ts"
Related to https://github.com/phetsims/phet-core/issues/114 ...

Recommended patch to use `combineOptions` in DensityTableNode.ts:

[code]

[2022-05-18 22:23] arouinfar opened #71 "Impossible to grab scale through the readout"
In Buoyancy, the scales are movable. However, the value text is not pickable, so users cannot grab the scale when the pointer is on top of the readout. The readout takes up a considerable portion of the scale, so this is really inconvenient.

@jonathanolson can you adjust things so that users can click through the readout and grab the scales?

[2022-05-19 04:50] arouinfar opened #72 "`model.pool.liquidYInterpolatedProperty` should be phetioHighFrequency: true"
Noticed in https://github.com/phetsims/buoyancy/issues/51 but applies to both density and buoyancy.

`model.pool.liquidYInterpolatedProperty` should be phetioHighFrequency: true. The other interpolatedProperties are all high-frequency, so it looks like we just missed this one first time around.

[2022-05-25 05:07] arouinfar opened #73 "Setting block `nameProperty` to null leaves behind an artifact"
Noticed during https://github.com/phetsims/buoyancy/issues/51

There is an artifact left on the block when its `nameProperty` is null.
<img width="72" alt="image" src="https://user-images.githubusercontent.com/8419308/170183937-3f914a16-35d3-4627-8107-f8f2cb0148ab.png">

To reproduce:
1. Navigate to `density.mysteryScreen.model.blockSets.set1.block1B.nameProperty` in Studio
2. Delete the "1B" in t

[2022-05-25 05:42] arouinfar commented on #71
Tangentially related to https://github.com/phetsims/buoyancy/issues/51

[2022-06-24 02:10] pixelzoom opened #74 "ComboBox will not accept a DynamicProperty."
In https://github.com/phetsims/sun/issues/768, the order of parameters was changed for ComboBox.  That suddenly exposed this problem in MaterialMassVolumeControlNode.ts:

<img width="811" alt="screenshot_1711" src="https://user-images.githubusercontent.com/3046552/175448155-91dd7ce7-4f20-44b8-ab5f-8b041af69781.png">

I worked around it for now by adding a `@ts-ignore`:

[code]

So there's apparent

[2022-06-26 21:48] samreid commented on #74
The problem is that DynamicProperty no longer extends Property.  I'm not sure how that should work, since not all DynamicProperties are bidirectional/settable.  @jonathanolson should we change `bidirectional` from an option to a subtype?

[2022-06-27 14:17] pixelzoom commented on #74
@samreid any thoughts on why this problem didn't surface until quite some time after the Property heirarchy was changed?

[2022-06-27 21:28] samreid commented on #74
On June 9 ComboBox was changed from taking IProperty => Property.  At that time, MaterialMassVolumeControlNode was marked with:

[code]

There are 2 other sites marked with `see https://github.com/phetsims/axon/issues/382`.

[2022-06-27 21:32] pixelzoom commented on #74
Ah, I see. When I changed the constructor signature for ComboBox, WebStorm "Change signature" relocated the `// @ts-ignore` to the incorrect location.  Instead of keeping it with `comboBoxMaterialProperty`, it moved it above `new ComboBox`.  See e43c9a04.

EDIT: Actually... WebStorm totally removed the `// @ts-ignore` for `comboBoxMaterialProperty` -- how rude!  The other `// @ts-ignore` in https:

[2022-06-27 21:35] pixelzoom commented on #74
Actually... WebStorm totally removed the `// @ts-ignore` for `comboBoxMaterialProperty` -- how rude!  The other `// @ts-ignore` in https://github.com/phetsims/density-buoyancy-common/commit/e43c9a04ce8556f14059342d77bdb836361b5079 is one that I added.

[2022-07-13 22:14] jonathanolson commented on #72
Implemented, can you verify?

[2022-07-14 15:42] jonathanolson commented on #73
I'm hiding labels when the string is empty. `null` shouldn't be possible with a string Property however.

@arouinfar can you see how this behaves now?

[2022-07-14 18:30] jonathanolson commented on #71
Implemented above, can you verify?

[2022-07-14 18:34] jonathanolson commented on #70
Implemented above, thanks!

[2022-07-14 18:34] #70 closed

[2022-07-14 23:17] pixelzoom opened #75 "branch: explicit-member-accessibility"
For https://github.com/phetsims/chipper/issues/1258, I ran into serious merge conflicts.  Changes pushed to this branch for @jonathanolson to sort out.

[2022-07-14 23:24] pixelzoom commented on #75
@jonathanolson note that this branch may have some `@ts-ignore` directives in Material.ts that will be unnecessary when correctly merged.

[2022-07-14 23:49] jonathanolson commented on #75
Got the main part merged in, but need to check for the ts-ignores

[2022-07-19 18:13] jonathanolson commented on #75
Handled ignores above, closing.

[2022-07-19 18:13] #75 closed

[2022-07-25 17:20] arouinfar commented on #73
Looks good, thanks @jonathanolson

[2022-07-25 17:20] #73 closed

[2022-07-25 17:21] arouinfar commented on #72
Thanks @jonathanolson, looks good in master

[2022-07-25 17:21] #72 closed

[2022-07-25 17:21] arouinfar commented on #71
Looks good, thanks!

[2022-07-25 17:21] #71 closed

[2022-08-08 21:05] samreid commented on #69
Yes, linking to the passed-in one sounds great!  Code changes look good. Closing.

[2022-08-08 21:05] #69 closed

[2022-08-10 19:51] jonathanolson commented on #74
That sounds possible (they should be bidirectional or not on creation), however unless we use mixins (yuk), I don't see how that would fix the inheritance hierarchy. @samreid would that resolve the issue? If we create BidirectionalProperty (and don't just... duplicate a ton of code), I'm fine with that.

[2022-08-12 23:59] samreid commented on #74
In the commit, I annotated the type as `IProperty<T> & ReadOnlyProperty<T>` which roughly means "you can set it" and also "you can link to it".  It seems to be working OK.  If we see many cases like this we can think of a clever nickname and make a type alias for it.  @jonathanolson or @pixelzoom can you please review?

[2022-08-22 18:40] pixelzoom commented on #74
A few concerns:

* This feels like a bandaid for ComboBox, when it's a general problem with using an argument of type DynamicProperty.

* This same problem can occur for other UI components (e.g. radio buttons) and potentially any constructor/method that has a `Property<T>` parameter.  Are we going to duplicate `IProperty<T> & ReadOnlyProperty<T>` in those cases too? Eagerly or when someone needs

[2022-08-25 02:31] samreid commented on #74
I added `LinkableProperty` which is defined like so:

[code]

I tried it in Checkbox.ts and it seemed to work OK.

Should we mark DynamicProperty as `implements LinkedElement<ThisValueType>`, and would that address that problem sufficiently?  Please also note the proposal to split DynamicProperty into uni and bidirectional implementations in https://github.com/phetsims/axon/issues/410

[2022-08-25 22:45] pixelzoom commented on #74
`LinkableProperty` is an improvement, thanks for doing that.

I'm not familiar with DynamicProperty. Better to ask @jonathanolson.

[2022-08-26 01:37] samreid commented on #74
I decided to add `implements LinkableProperty<T>` in DynamicProperty because it is clearer and more discoverable.  In my opinion, this issue is ready to close.  But also OK with me if you want to discuss with @jonathanolson first.

[2022-08-26 03:22] pixelzoom commented on #74
Like I said... I'm not at all familiar with DynamicProperty.  So me discussing it with @jonathanolson will not be fruitful.  If you'd like to discuss it with @jonathanolson, go for it.  Otherwise feel free to close.

[2022-08-26 03:24] #74 closed

[2022-09-03 18:15] samreid opened #76 "Dynamically constructed enumerations wind up with the same structure, confusing PhET-iO"
In https://github.com/phetsims/phet-core/issues/99, we saw that density-buoyancy-common creates material enumerations dynamically.  PhET-iO expects the enumeration structure to be different since it differentiates based on key names.  I'll commit a workaround momentarily.

[2022-09-03 18:25] samreid commented on #76
I added a mini-cache for when enumerations happen to be the same.  I'm not sure what the best long term solution is for this sim, since it seems enumerations are being created dynamically (which is less conventional).  @jonathanolson what do you recommend?

[2022-10-25 14:44] KatieWoe opened #77 "CT Lint failed with status code 1"
Also in perennial:
[code]

[2022-10-28 23:26] jonathanolson commented on #77
Lint seems to be passing for the repo now?

[2022-10-31 14:50] #77 closed

[2022-11-21 16:14] marlitas opened #78 "Config.density is not finite"
From CT:

[code]

[2022-11-21 16:44] marlitas commented on #78
@samreid and I investigated this assertion error and found that the code is trying to divide by zero in `MaterialMassVolumeControlNode.ts`.

This can be replicated by:
1. Applications ScreenView in Buoyancy
2. Drag Material Inside Volume slider to 0
3. Switch material to custom

We attempted a fix with this patch:

[code]

However ran into a DynamicProperty error that indicates a link is attemptin